@font-face {
  font-family: "gp";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "gpb";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "gpl";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "gpm";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "gpbl";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "gpi";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Italic.eot");
  src: url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "gp";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "gpb";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "gpl";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "gpm";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "gpbl";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "gpi";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamPro-Italic.eot");
  src: url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
}

button:focus, input:focus, link:focus, textarea:focus {
  outline: none;
}

button:active, input:active, link:active, textarea:active {
  outline: none;
}

button:hover, input:hover, link:hover, textarea:hover {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  min-width: 320px;
  line-height: 1.3;
  font-family: "gp", sans-serif;
  overflow-x: hidden;
  background-color: #fe6f5f;
}

.header {
  background-color: white;
  height: 76px;
  text-align: center;
}

.header-logo {
  padding: 18px 0 18px 0;
  margin: 0 auto;
}

.header-logo a img {
  width: 160px;
  height: 40px;
}

.header:after {
  z-index: 50;
  content: '';
  display: block;
  top: 75px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 512px;
  width: 100%;
  height: 28px;
  opacity: 0.5;
  position: absolute;
  background: url("../img/shadowheader.png") center center no-repeat;
}

.header-menu {
  margin-top: 28px;
}

.header-menu li {
  display: inline-block;
}

.header-menu a {
  display: block;
  font-size: 15px;
  color: #fe6f5f;
  margin: 0 50px;
  opacity: 0.9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-menu a:hover {
  font-family: "gpb", sans-serif;
  opacity: 1;
  text-decoration: underline;
}

.menu-btn_left {
  position: absolute;
  left: 0;
  margin-top: -10px;
  margin-left: 160px;
  background: none;
  height: 45px;
  width: 45px;
}

.menu-btn_left span {
  position: relative;
  display: block;
  height: 4px;
  border-radius: 50px;
  width: 30px;
  background-color: #fe6f5f;
}

.menu-btn_left span:after {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  height: 4px;
  border-radius: 50px;
  width: 30px;
  background-color: #fe6f5f;
}

.menu-btn_left span:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  height: 4px;
  border-radius: 50px;
  width: 30px;
  background-color: #fe6f5f;
}

.main {
  margin-top: 40px;
}

.main_sofa {
  text-align: center;
  width: 85%;
}

.main-logo {
  margin-top: 20px;
}

.main-logo_2 {
  margin-left: 20px;
}

.main-font h1 {
  margin: 0;
  font-size: 90px;
  line-height: 1;
  font-family: "gpbl", sans-serif;
  color: white;
  text-transform: uppercase;
}

.main-font h2 {
  color: white;
  margin: 0;
  line-height: 1;
  font-size: 65px;
  font-family: "gp", sans-serif;
}

.main-font h3 {
  color: white;
  margin: 0;
  font-size: 18px;
  font-family: "gpl", sans-serif;
  margin-top: 20px;
}

.price h2 {
  color: white;
  font-size: 80px;
  font-family: "gpbl", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

.price h3 {
  margin: 0;
  color: white;
  font-size: 25px;
  font-family: "gpm", sans-serif;
  margin-bottom: 15px;
}

.price-title {
  text-align: center;
}

.price-block {
  padding: 50px 0 0 0;
}

.slider-container {
  text-align: center;
}

.slider-container .slick-dots {
  bottom: 20px;
}

.slider-container .slick-dots > li > button::before {
  font-size: 50px;
  color: white;
}

.contacts_title {
  text-align: center;
}

.contacts_title h2 {
  font-family: "gpb", sans-serif;
  font-size: 34px;
  color: white;
}

.contacts {
  position: relative;
}

.contacts .map {
  width: 100%;
  height: 350px;
  z-index: -1;
}

.contacts-bottom {
  padding: 20px 0 40px 0;
  background-color: #fff;
  font-family: "gp", sans-serif;
}

.contacts-bottom_left {
  text-align: center;
}

.contacts-bottom_left p {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.contacts-bottom_left .small1 {
  font-size: 18px;
}

.contacts-bottom_left span {
  font-family: "gpb", sans-serif;
}

.contacts-bottom_right {
  text-align: left;
  padding-left: 70px;
  font-family: "gp", sans-serif;
}

.contacts-bottom_right p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.contacts-bottom_right span {
  font-family: "gpb", sans-serif;
}

.contacts-bottom_right .small2 {
  font-size: 14px;
  font-family: "gp", sans-serif;
  color: #b3b3b3;
}

.contacts .flaer {
  background-color: #31901b;
  padding: 30px;
  position: absolute;
  border-radius: 15px;
  margin-top: 480px;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60%;
}

.contacts .flaer-text {
  margin-left: 325px;
}

.contacts .flaer-text h2 {
  margin: 0;
  margin-left: 140px;
  text-align: left;
  color: white;
  font-size: 45px;
  font-family: "gpbl", sans-serif;
  line-height: 1;
}

.contacts .flaer-text p {
  position: relative;
  margin: 10px 0 25px 0;
  padding: 0;
  font-size: 22px;
  color: white;
  font-family: "gpl", sans-serif;
}

.contacts .flaer-text p:before {
  position: absolute;
  content: '';
  background: url(../img/book.png) center center no-repeat;
  background-size: contain;
  top: -200px;
  left: -410px;
  width: 550px;
  height: 360px;
  z-index: -1;
}

.contacts .flaer-text a {
  display: inline-block;
  color: #31901b;
  font-size: 18px;
  font-family: "gpb", sans-serif;
  padding: 12px 70px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
}

.footer {
  padding-top: 280px;
  padding-bottom: 50px;
  text-align: center;
}

.footer a {
  color: white;
  padding: 0 10px;
}

.footer p {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  color: white;
  font-size: 14px;
  font-family: "gpl", sans-serif;
}

.catalog-blocks_item {
  border: 2px solid white;
  margin: 50px;
  height: 380px;
}

.catalog-blocks_item h2 {
  font-family: "gpbl", sans-serif;
  color: white;
  font-size: 70px;
  margin: 0;
  margin-left: -30px;
  background-color: #fe6f5f;
  text-transform: uppercase;
}

.catalog-blocks_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.catalog-blocks_item a {
  color: white;
  font-size: 27px;
  font-family: "gpl", sans-serif;
}

.catalog-blocks_item .divanimg {
  margin-top: 45px;
  margin-left: -50px;
}

.catalog-blocks_item .krovatimg {
  margin-left: -80px;
  margin-top: 45px;
}

.catalog-blocks_item .kresloimg {
  margin-left: 150px;
  margin-top: -60px;
  margin-bottom: 50px;
}

.catalog-blocks_item .kreslotitle {
  margin-top: -45px;
}

.catalog-blocks_item .otherimg {
  position: absolute;
  top: 150px;
  right: 0;
}

.popular {
  background-color: #fff;
  padding: 10px 0 80px;
  position: relative;
}

.popular:after {
  z-index: 1;
  content: '';
  display: block;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  height: 100px;
  opacity: .5;
  position: absolute;
  background: url("../img/shadowheader2.png") center center no-repeat;
}

.popular-block {
  text-align: center;
}

.popular-block h2 {
  font-size: 30px;
  font-family: "gpb", sans-serif;
  color: #fe6f5f;
  text-transform: uppercase;
}

.popular-block_item {
  margin-top: 40px;
  text-align: center;
}

.popular-block_item img {
  max-width: 100%;
  width: 227px;
  height: 125px;
}

.popular-block_item h3 {
  font-family: "gp", sans-serif;
  font-size: 22px;
  margin: 0;
  margin-top: 15px;
  color: #fe6f5f;
}

.popular-block_item p {
  margin: 0;
  padding: 0;
  color: #fe6f5f;
}

.step-title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.step-title p {
  color: #fe9a8f;
  font-family: "gpm", sans-serif;
  font-size: 24px;
  display: block;
  margin-left: 10px;
}

.step-title .first {
  margin-left: 15px;
}

.step-title .lastp {
  position: absolute;
  right: -100px;
  top: -15px;
}

.step-title span {
  margin-left: 10px;
  color: #fe6f5f;
  font-size: 50px;
  font-family: "gpb", sans-serif;
  position: relative;
  z-index: 2;
}

.step-title span:after {
  content: '';
  height: 100px;
  width: 100px;
  background-color: #fe9a8f;
  position: absolute;
  left: -35px;
  border-radius: 50px;
  top: -20px;
  z-index: -1;
}

.step-title span:before {
  content: '';
  position: absolute;
  height: 15px;
  width: 102px;
  background-color: #fe9a8f;
  left: 61px;
  top: 23px;
  z-index: -1;
}

.step-title .span-four::after {
  left: -33px;
}

.step-title .span-first::after {
  left: -38px;
}

.step-title .span-five::before {
  display: none;
}

.step-title__item-active span:after {
  background-color: #ffffff;
}

.step-title__item-active p {
  color: #ffffff;
}

.step-slide__title {
  color: #fff;
  font-size: 30px;
}

.pick-item__label {
  font-size: 24px;
  color: #fff;
  padding-left: 37px;
}

.pick-item__label:before {
  top: 7px;
}

.pick-item__input:checked + .pick-item__label:after {
  top: 12px;
}

.step-slide__step2 p {
  font-size: 20px;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
}

.step-slide__step2 .smallp {
  margin-top: 5px;
  font-size: 13px;
  color: white;
  margin: 0;
  opacity: .5;
}

.step-slide__step2 h4 {
  margin-top: 0;
  margin-left: 200px;
  font-family: "gpb", sans-serif;
  font-size: 30px;
  color: white;
}

.pick-item__input-val {
  display: block;
  border-radius: 15px;
  border: 1px solid #cacaca;
  width: 100%;
  max-width: 200px;
  height: 40px;
  padding: 0 15px;
  opacity: .7;
}

.pick-item__input-val:focus {
  opacity: 1;
}

.imgradio-step3 img, .imgradio-step4 img {
  position: absolute;
  right: 30px;
  top: -5px;
}

.imgradio-step4 img {
  top: 0;
}

.step-slide__title-end {
  text-align: center;
  font-size: 30px;
  color: white !important;
}

.divans {
  padding: 40px 0 120px 0;
}

.divans-items {
  position: relative;
  color: #fff;
  border: 2px solid white;
  max-width: 300px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
}

.divans-items h3 {
  font-size: 40px;
  margin-left: -15px;
  margin-top: 10px;
  background-color: #fe6f5f;
}

.divans-items img {
  position: absolute;
  margin-top: 100px;
  max-width: 350px;
  width: 130%;
  top: -30px;
  left: -30px;
}

.divans-items p {
  position: absolute;
  font-family: "gpb", sans-serif;
  font-size: 30px;
  bottom: -120px;
}

.popup {
  margin-top: 40px;
}

.popup-container {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}

.popup-container h3 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
  top: 0;
}

.popup-container .h3-bottom {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #fff;
  margin-left: 15px;
  font-family: "gpb", sans-serif;
}

.popup-container h4 {
  font-family: "gpl", sans-serif;
  font-size: 40px;
  margin: 0;
  color: #fe6f5f;
}

.popup-container h5 {
  font-size: 12px;
  font-family: "gpb", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.popup-container p {
  font-size: 11px;
  margin-top: 0;
}

.popup-left {
  text-align: left;
}

.popup-bottom {
  margin-top: 15px;
  margin-left: 15px;
  z-index: 100;
}

.popup-bottom form {
  position: relative;
}

.popup-bottom-button .btn-next-container .bx-next {
  display: block;
  max-width: 100%;
}

.popup-bottom-button .btn-next-container .btn-next {
  color: #fe6f5f;
  padding: 15px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  display: block;
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.popup-bottom-button .btn-prev-container .bx-prev {
  display: block;
  max-width: 100%;
}

.popup-bottom-button .btn-prev-container .btn-prev {
  color: #fe6f5f;
  padding: 15px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  display: block;
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.popup-bottom-button p {
  padding: 0;
  margin: 0;
  color: #fff;
}

.pop-item__input {
  display: none;
}

.pop-item__input:checked + .pop-item__label {
  opacity: 1;
}

.pop-item__label {
  display: inline-block;
  font-size: 17px;
  line-height: 1.4;
  position: relative;
  color: #fff;
  opacity: .4;
  cursor: pointer;
}

.form-modal {
  text-align: center;
}

.form-modal .last-step-form__accept {
  color: black;
}

.form-modal-title {
  font-size: 30px;
  color: black;
}

.form-modal .last-step-form__button {
  font-size: 16px;
}

.form-modal .last-step-form__button span:after {
  display: none;
}
/*# sourceMappingURL=main.css.map */