@import "fonts";
// colors

$black: black;

// main 
$max-width: 1024px; 

$gp: 'gp', sans-serif;
$gpb: 'gpb', sans-serif; 
$gpm: 'gpm', sans-serif; 
$gpbl: 'gpbl', sans-serif; 
$gpi: 'gpi', sans-serif; 
$gpl: 'gpl', sans-serif; 

// mixins

@mixin center_transform() {
  	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%, -50%);
}

@mixin vertical_center_transform() {
  	position:absolute;
	left:0;top:50%;
	width: 100%;
	transform:translate(0, -50%);
}