@font-face {
  font-family: "cg";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CentGothic/CenturyGothic.eot");
  src: url("../fonts/CentGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CentGothic/CenturyGothic.woff") format("woff"), url("../fonts/CentGothic/CenturyGothic.ttf") format("truetype");
}

@font-face {
  font-family: "cgb";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaBold/CenturyGothic-Bold.eot");
  src: url("../fonts/ProximaBold/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaBold/CenturyGothic-Bold.woff") format("woff"), url("../fonts/ProximaBold/CenturyGothic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ll";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LatoReg/Lato-Regular.eot");
  src: url("../fonts/LatoReg/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoReg/Lato-Regular.woff") format("woff"), url("../fonts/LatoReg/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lr";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LatoLight/Lato-Light.eot");
  src: url("../fonts/LatoLight/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/Lato-Light.woff") format("woff"), url("../fonts/LatoLight/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "cg";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CentGothic/CenturyGothic.eot");
  src: url("../fonts/CentGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CentGothic/CenturyGothic.woff") format("woff"), url("../fonts/CentGothic/CenturyGothic.ttf") format("truetype");
}

@font-face {
  font-family: "cgb";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaBold/CenturyGothic-Bold.eot");
  src: url("../fonts/ProximaBold/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaBold/CenturyGothic-Bold.woff") format("woff"), url("../fonts/ProximaBold/CenturyGothic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ll";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LatoReg/Lato-Regular.eot");
  src: url("../fonts/LatoReg/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoReg/Lato-Regular.woff") format("woff"), url("../fonts/LatoReg/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lr";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LatoLight/Lato-Light.eot");
  src: url("../fonts/LatoLight/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/Lato-Light.woff") format("woff"), url("../fonts/LatoLight/Lato-Light.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
}

button:focus, input:focus, link:focus, textarea:focus {
  outline: none;
}

button:active, input:active, link:active, textarea:active {
  outline: none;
}

button:hover, input:hover, link:hover, textarea:hover {
  outline: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 14px;
  min-width: 320px;
  line-height: 1.3;
  font-family: "proxima", sans-serif;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  padding: 16px 59px;
  background-color: #ff2d2d;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:active {
  background-color: #eb2b2b;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #ff2d2d solid 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
          animation-name: hvr-ripple-out;
}

.hvr-ripple-out:active:before {
  border: #eb2b2b solid 6px;
}

.titleline {
  padding-top: 105px;
}

.titleline h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-family: "proxima-bold", sans-serif;
}

.titleline h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  font-size: 24px;
  font-weight: 400;
}

.titleline .line {
  height: 1px;
  margin: 0 auto;
  width: 133px;
  background-color: #ff2d2d;
  margin-top: 15px;
  margin-bottom: 74px;
}

.main {
  background-color: #fbfbfb;
  height: 100vh;
}

.header {
  position: absolute;
  width: 1170px;
  left: 50%;
  margin-left: -585px;
  padding-top: 20px;
}

.header-menu {
  padding-top: 7px;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header-menu li {
  display: inline-block;
  vertical-align: middle;
}

.header-menu a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 0 5px;
  margin: 0 12px;
  color: #1d1d1d;
  opacity: 0.7;
}

.header-menu a:hover {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-menu ul li a,
.header-menu a:after,
.header-menu a:before {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-menu nav ul li a:hover {
  opacity: 1;
}

.header-menu a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: black;
  background: #1d1d1d;
  opacity: 0.7;
  height: 2px;
}

.header-menu a:hover:after {
  width: 100%;
}

.header-logo {
  padding-top: 3px;
  width: 133px;
}

.header-cont {
  margin-top: -3px;
  text-align: right;
  font-size: 12px;
  opacity: 0.7;
}

.header-cont_number {
  font-size: 18px;
  margin-bottom: 0px;
  color: #1d1d1d;
}

.offer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.offer-left {
  max-width: 460px;
  line-height: 1.2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offer-left h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-family: "proxima-bold", sans-serif;
}

.offer-left h2 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 23px;
  font-weight: 400;
}

.offer-left a {
  margin-top: 45px;
}

.offer-right {
  margin-right: 110px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offer-right-img {
  display: block;
  width: 439px;
  border-radius: 50%;
  height: 439px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 7px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 9px 1px rgba(0, 0, 0, 0.08);
}

.offer-right img {
  -webkit-user-drag: none;
  position: absolute;
  left: 0;
  width: 359px;
  display: block;
  margin: -15px auto;
  -webkit-transform: translateZ(1200px);
          transform: translateZ(1200px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.about {
  background-color: #1d1d1d;
  color: white;
  padding: 100px 0;
}

.about-text {
  padding-top: 30px;
}

.about h3 {
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 30px;
  font-family: "proxima-bold", sans-serif;
}

.about p {
  margin: 0;
  font-size: 18px;
  font-family: "proxima", sans-serif;
  line-height: 24px;
}

.about .line {
  width: 1px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
}

.benefits {
  padding-bottom: 115px;
}

.benefits-block h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "proxima-bold", sans-serif;
}

.benefits-block p {
  font-size: 16px;
}

.benefits-block-up {
  margin-bottom: 80px;
}

.benefits-block-img {
  max-width: 128px;
  margin-right: 0;
}

.benefits-block-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0em;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) no-repeat -2em 0%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  -webkit-transform: skewX(-50deg);
          transform: skewX(-50deg);
}

.benefits-block-img img {
  display: block;
  width: 100%;
}

.benefits-block .blink_on:after {
  -webkit-transition: 1.3s linear;
  transition: 1.3s linear;
  background-position: 130% 0%;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.price {
  padding-bottom: 115px;
  background-color: #fbfbfb;
}

.price-block {
  background-color: #ffffff;
  margin-top: 25px;
  padding: 50px 0px 59px 0px;
  -webkit-box-shadow: 0 7px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 9px 1px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.price-block h3 {
  margin: 30px 0 35px 0;
  font-size: 30px;
  font-family: "proxima-bold", sans-serif;
}

.price-block-img {
  display: block;
  max-width: 128px;
  margin: 0 auto;
}

.price-block-img img {
  width: 100%;
  margin-top: 15px;
}

.price-block .line {
  margin: 0 auto 45px;
  height: 1px;
  width: 90%;
  background-color: #000000;
  opacity: 0.1;
}

.price-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-block li {
  position: relative;
  padding: 0 25px 0 50px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 18px;
}

.price-block li:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 33px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #ff2d2d;
}

.price-block-value {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "proxima-bold", sans-serif;
}

.price-block-value sup {
  font-size: 18px;
}

.price-block-value span {
  font-family: "proxima", sans-serif;
  font-size: 18px;
}

.price-block-invisible {
  opacity: 0;
}

.price-block-center {
  margin-top: 0;
}

.price-block-center .line {
  margin-bottom: 55px;
}

.price-block-center-value {
  margin-top: 45px;
}

/* Float */
.hvr-float {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.stages {
  padding-bottom: 115px;
}

.stages-block {
  text-align: center;
  padding: 0 30px;
  font-family: "proxima-bold", sans-serif;
}

.stages-block h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 21px;
  font-family: "proxima", sans-serif;
  font-weight: 400;
}

.stages-block-img {
  position: relative;
}

.stages-block-img img {
  display: block;
  margin: 0 auto;
  max-width: 55px;
  width: 100%;
}

.stages-block-img:after {
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  content: '';
  position: absolute;
  left: 70%;
  height: 1px;
  max-width: 130px;
  width: 100%;
  margin-left: 5px;
  background-color: #1d1d1d;
  opacity: 0.3;
}

.stages-block-img-last::after {
  display: none;
}

.form {
  padding-bottom: 115px;
  text-align: center;
  color: white;
  background-color: #1d1d1d;
}

.form .line {
  margin-bottom: 30px;
}

.form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 420px;
  position: relative;
  color: white;
  font-size: 24px;
  font-family: "proxima", sans-serif;
  opacity: 0.5;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.form input:focus::-webkit-input-placeholder {
  color: transparent;
  opacity: 1;
}

.form input:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 1;
}

.form input:focus::-ms-input-placeholder {
  color: transparent;
  opacity: 1;
}

.form input:focus::placeholder {
  color: transparent;
  opacity: 1;
}

.form input:focus {
  opacity: 1;
  width: 500px;
}

.form .btn {
  font-family: "proxima", sans-serif;
  font-size: 15px;
  margin-top: 55px;
}

.footer {
  padding: 50px 0;
  background-color: #0e0e0e;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 400;
}

.footer img {
  width: 165px;
}

.footer-center {
  padding-left: 15px;
  text-align: center;
}

.footer-center .line {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 38px;
  background-color: #ff2d2d;
}

.footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 24px;
  color: white;
  opacity: 0.5;
  padding-left: 0;
}

.footer-right {
  text-align: left;
}

.footer-right a {
  color: white;
  opacity: 0.5;
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.footer-right a:hover {
  color: #ff2d2d;
}

.popup-block {
  background-color: white;
  padding: 72px 180px;
}

.popup-block h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-family: "proxima-bold", sans-serif;
}

.popup-block .line {
  padding: 30px 0 20px 0;
  width: 136px;
  height: 1px;
  background-color: #ff2d2d;
}

.popup-block p {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header-menu a {
    font-size: 14px;
  }
  .header-cont-number {
    font-size: 16px;
  }
  .offer-img {
    width: 339px;
  }
  .offer-img img {
    width: 259px;
  }
}

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*# sourceMappingURL=main — копия.css.map */