@import "fonts";
// colors

$black: black;

// main 
$font-default: 'lato-light', sans-serif;
$font-cgb: 'cgb', serif;
$font-lr: 'lato-regular', sans-serif;
$font-cg: 'cg', serif;
$yeseva: 'yeseva';

// mixins

@mixin center_transform() {
  	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%, -50%);
}

@mixin vertical_center_transform() {
  	position:absolute;
	left:0;top:50%;
	width: 100%;
	transform:translate(0, -50%);
}